<div >
  <button id="addContact">ADD CONTACT</button>
</div>
<style>
        .addContact__modal{
          display:flex;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1;background:transparent;justify-content:center;align-items:center;
          opacity: 0;
          transition: .3s ease-in-out;
          z-index:-1;
        }
        .addContact__modal.visible{
          opacity: 1;
          z-index: 1;
        }
        .addContact__modal .modal-content{
          max-width:600px;
              min-width: 400px;
      padding: 2rem;
      background: white;
              box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
        }
        .addContact__modal .btn{
              text-decoration: none;
      color: #acacac;
      border: 1px solid #000;
      display: inline-block;
      padding: 10px 16px;
      font-size: 14px;
  border: none;
          background:black;
          color:white;
        }
  .addContact__success,.addContact__fail{
    display:none;
  }
@media(max-width:450px){
  .addContact__modal .modal-content{
    min-width: auto;
  }
}
</style>
<div class="addContact__modal">
  <div class="modal-content newspaper">
    <div class="container">
      <h2 class="customer__title text-center">Add contact</h2>
      <p class="addContact__success">Your contact was added successfully</p>
      <p class="addContact__fail">Something went wrong, please refresh the page and try again</p>
      <div class="inputs__container">
        <div class="control-group">
          <input id="contactName" type="text" name="firstname" placeholder="Recipients Name">
        </div>

        <div class="control-group">
          <input id="contactEmail" type="text" name="email" placeholder="Recipients Email Address">
        </div>
      </div>

      <p class="center">
        <button
          class="btn btn-default submit-contact"
        >
          submit
        </button>
        <button class="btn btn-default btn-close">Close</button>
      </p>
    </div>
  </div>
</div>
<script>
      $(".addContact__modal .btn-close").on("click",()=>{
        $(".addContact__modal").toggleClass("visible")
      })
      $("#addContact").on("click",()=>{
       
        $(".addContact__modal").toggleClass("visible")
      })
      
            $(".addContact__modal .submit-contact").click((e)=>{
               $(".addContact__success").hide()
        $(".addContact__fail").hide()
        e.preventDefault();
        function isEmail(email) {
          var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          return regex.test(email);
        }

        let error = false;
        let name = $("#contactName").val()
        let email = $("#contactEmail").val()
        let customerId = {{ customer.id }};
        if(name.length <= 0) {
          error = true;
          $("#contactName").css("border-color","red")
        }
        else $("#contactName").css("border-color","initial")
        if(!isEmail(email)) {
          error = true;
          $("#contactEmail").css("border-color","red")
        }
        else{
          $("#contactEmail").css("border-color","initial")
        }

        const url = `https://sendgrid.thenftflorist.com/addContact?email=${email}&name=${name}&customerId=${customerId}`
        // const url = `https://82ec-41-104-112-160.ngrok-free.app/addContact?email=${email}&name=${name}&customerId=${customerId}`
        fetch(url).then((e)=>{          
          if(!e.ok)     throw new Error('Server error');
          $(".addContact__success").show()
          $("#contactName").val("")
          $("#contactEmail").val("")
        }).catch(err=>{
          $(".addContact__fail").show()
          console.log(err)
      })
    });
</script>
