
            
            <script id="bss-b2b-rf-config-data">
            if (typeof BSS_B2B == 'undefined') {
                var BSS_B2B = {};
            }
            BSS_B2B.rfGeneralSettings = {"form_success_notification":"Created wholesaler successfully","sent_email_success_notification":"We have sent an email to {email}, please click on the included link to verify your email address","form_edit_success_notification":"Edited wholesaler successfully","form_fail_notification":"Created wholesaler failed","form_edit_fail_notification":"Edited wholesaler failed","vat_valid":"VALID VAT NUMBER","vat_not_valid":"EU VAT is not valid. Please re-enter","customer_exist":"Customer email already exists","required_field":"This field is required","password_too_short":"Password is too short (minimum is 5 characters)","email_format":"Must be email format","email_contain_invalid_domain":"Email contains an invalid domain name","error_created_account_on_shopify":"Error when creating account on Shopify","loadingForm":"Loading...","create":"Create","phone_is_invalid":"Phone is invalid","complete_reCapcha_task":"Please complete reCAPTCHA task","abn_valid":"This ABN is registered to","abn_not_valid":"ABN is not valid. Please re-enter","gst_valid":"VALID India GST NUMBER","gst_not_valid":"India GST number is not valid. Please re-enter","uk_valid":"VALID UK VAT NUMBER","uk_not_valid":"UK VAT number is not valid. Please re-enter","text_color_success":"#008000","text_color_failed":"#ff0000","email_is_invalid":"Email is invalid","complete_privacy_policy":"Please accept the privacy policy"};
            </script>
            
			<script id="bss-b2b-wholesaler-form-default">
                 BSS_B2B.formDataRenderDefault = [];
                 BSS_B2B.formIdDef = 16179;
                 BSS_B2B.reCAPCHA = 0;
                 BSS_B2B.CAPCHA_SITE_KEY = "6LcYPEgbAAAAAKEQdimI1PPA4vuOJHxNb5p6eLUo";
                 BSS_B2B.status = 1;
                 BSS_B2B.created_account = 2;
                 BSS_B2B.redirect_url = "/";
                 BSS_B2B.taxExempt = 0;
                 BSS_B2B.formPrivacyPolicyStatus = 0;
                 BSS_B2B.formPrivacyPolicyContent = `<p>By clicking Create, I confirm that I have read and accepted the <a href="/">privacy policy</a></p>`;
            </script>
            <style>
				null
				#account-popover, 
				.popover--unlogged {
					height: 400px; 
					width: 365px;
				}
				#header-register-panel {
					height: 400px;
					overflow-y: auto;
				}
			</style>