
      {{ '//cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js' | script_tag }}
      {{ '//unpkg.com/axios/dist/axios.min.js' | script_tag }}
      {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}
      <script src="//{{ shop.domain }}/apps/fresh_credit_proxy/script" defer></script>
      <div id="freshie">
        <fresh-credit></fresh-credit>
      </div>
    