<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

{%if  request.page_type  == "index" %}


  <div class="preloader-wrapper  ">
    <audio controls autoplay>
      {% if settings.video01 != blank %}
        <source src="{{ settings.video01 }}" type="audio/ogg">
      {% endif %}
      {% if settings.video02 != blank %}
      <source src="{{ settings.video02 }}" type="audio/mpeg">
    {% endif %}
      Your browser does not support the audio element.
    </audio>

    <div class="preloader-logo fade-in">
      <img src="{{ settings.Preloder | img_url:'' }}" alt="">
    </div>  

  {% comment %} <div class="loading">
        <div></div>
        <div></div>
        <div></div>
      </div> 
      
<div class="fancy-spinner">
    <div class="ring"></div>
    <div class="ring"></div>
    <div class="dot"></div>
  </div> {% endcomment %}

  </div>

<style>




  audio {
    opacity: 0;
    visibility: hidden;
    display: none;
}
    .fade-in {
        animation: fadeIn ease 3s;
        -webkit-animation: fadeIn ease 3s;
        -moz-animation: fadeIn ease 3s;
        -o-animation: fadeIn ease 3s;
        -ms-animation: fadeIn ease 3s;
      }
      
      
      @keyframes fadeIn{
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-moz-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-webkit-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-o-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-ms-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      /* The style below is just for the appearance of the example div */
      
    .preloader-wrapper {
        position: fixed;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        top: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        background:#fff;
      
    }
    .preloader-logo {
        display: block;
    
        {% comment %} max-width: 250px; {% endcomment %}
    }
    .preloader-logo  img{
      {% comment %} width: 100%; {% endcomment %}
      height: 100vh;
      width:100vw;
      object-fit: cover;
     
    }

    .loading {
        display: flex !important;
        justify-content: center;
   }
   {% comment %} a:empty, ul:empty, dl:empty, div:empty, section:empty, article:empty, p:empty, h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty
    {% endcomment %}
    .loading div {
        width: 1.5rem;
        display: block;
        height: 1.5rem;
        margin: 3rem 0.3rem;
        background: #000;
        border-radius: 50%;
        animation: 0.9s bounce infinite alternate;
   }
    .loading div:nth-child(2) {
        animation-delay: 0.3s;
   }
    .loading div:nth-child(3) {
        animation-delay: 0.6s;
   }
    @keyframes bounce {
        to {
            opacity: 0.3;
            transform: translate3d(0, -1rem, 0);
       }
   }
    .fancy-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
   }
    .fancy-spinner div {
        position: absolute;
        width: 8rem;
        display: block;
        height: 8rem;
        border-radius: 50%;
   }
    .fancy-spinner div.ring {
        border-width: 0.5rem;
        border-style: solid;
        border-color: transparent;
        animation: 2s fancy infinite alternate;
   }
    .fancy-spinner div.ring:nth-child(1) {
        border-left-color: #000;
        border-right-color: #000;
   }
    .fancy-spinner div.ring:nth-child(2) {
        border-top-color: #000;
        border-bottom-color: #000;
        animation-delay: 1s;
   }
    .fancy-spinner div.dot {
        width: 1rem;
        height: 1rem;
        background: #000;
   }
    @keyframes fancy {
        to {
            transform: rotate(360deg) scale(0.5);
       }
   }
    








   
   .drawer .drawer__inner {
    transform: translate(250%);
    transition: .90s all ease-in-out;
}
.search-modal {
   opacity: 1 !important;
    transform: translateY(-100%) !important;
    transition: 1s all ease-in-out;
}

details[open] > .search-modal {
    transform: translateY(0%) !important;
}
</style>


<script>
  $(document).ready(function() {
  $(window).load(function() {
        function Preloader() {
              $('.preloader-wrapper')
         
            .delay(5000)
            .fadeOut(1000); 
           }
        if ( ! sessionStorage.getItem( 'doNotShow' ) ) {
            sessionStorage.setItem( 'doNotShow', 'true' );
            Preloader();
        } else {
           $ ('.loader, .preloader').hide();
        }

     });
});



</script>

{% endif %}