    <div class="aboutmewapper">
     <div class="container">
        <div class="row">
          <div class="col-md-5">
              <div class="image-wrapper">
                {{ section.settings.image | image_url: width: 3840 | image_tag:
                    loading: 'lazy',
                    height: height,
                    sizes: "100vw",
                    widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                  }}
              </div>
          </div>
          <div class="col-md-7 p-0">
            <div class="inner-text-content">
              {{ section.settings.richtext }}
            </div>
          </div>
        </div>
        <div class="row">
               <div class="col-12">
                 {{ section.settings.text-2 }}
               </div>
        </div>
     </div>
    </div>

{% schema %}
    {
        "name": "About me",
        "class": "aboutme",
        "settings": [
         {
            "type": "image_picker",
            "id": "img",
            "label": "Bannner image"
         },
   
         {
            "type": "richtext",
            "id": "richtext",
            "label": "Description"
         },
          
         {
            "type": "richtext",
            "id": "text-2",
            "label": "Description o2 "
         }
        ],
        "presets": [
            {
              "name": "About me"
            }
            ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}