<section class="full-width-image">
  <h1 class="center">{{ section.settings.section_title }}</h1>
  <div class="container-fluid">
    <div class="image-box">
      <img src="{{ section.settings.image_box_full | img_url: 'master' }}" class="img-fluid">
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Image Box",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_box_full",
        "label": "Upload Image"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Add a title"
      }
    ],
    "presets": [
    {
      "name": "Image Box"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
  .full-width-image {
    max-width: 100%;
    margin: 0 auto;
}
  img.img-fluid {
    max-width: 100%;
    display: block;
    vertical-align: middle;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}