.page-title {
  margin-top: 0;

    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #2E2E2E;
    font-family: var(--font-body-family);
}

.main-page-title {
  margin-bottom: 3rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
